%p#notice= notice

%p
  %b Salutation:
  = @contact.salutation
%p
  %b Fname:
  = @contact.fname
%p
  %b Mname:
  = @contact.mname
%p
  %b Lname:
  = @contact.lname
%p
  %b Phone no:
  = @contact.phone_no
%p
  %b Email:
  = @contact.email

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
